body{
    color: #444444;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 150%;
    
    
}
.textmargin{
    border-color: #666666;
    border-width:10px;
    border-style:outset;
    background-color:#a7cece;
     box-sizing: border-box;
     padding: 20px 550px 5px 20px  ;
      margin: 30px 210px 40px 100px;
      line-height: 1.9em;
      background-image: url(images/p379.jpg)
      
}
#textmargin1{
    border-color: #666666;
    border-width:10px;
    border-style:outset;
    background-color:#a7cece;
     box-sizing: border-box;
     padding: 20px 550px 5px 20px  ;
      margin: 30px 210px 40px 100px;
      line-height: 1.9em;
      background-image: url(images/p379.jpg)
      
}